/* bgcolor */
$bg-white: #f5efef;
$bg-pink: #efa9a9;
$bg-blue: #a9caef;
$bg-purple: #d3a9ef;
$bg-green: #bfefa9;
$bg-mint: #a9efdd;
$bg-yellow: #ffcd77;

.bg-color{
	width: 40px;
	height: 40px;
	&.white{
		background-color: $bg-white;
	}
	&.pink{
		background-color: $bg-pink;
	}
	&.blue{
		background-color: $bg-blue;
	}
	&.purple{
		background-color: $bg-purple;
	}
	&.green{
		background-color: $bg-green;
	}
	&.mint{
		background-color: $bg-mint;
	}
	&.yellow{
		background-color: $bg-yellow;
	}
}