/* color */
$main-color: #210d78;
$sub-color: #441bf7;
$base-color: #667ef9;
$gray : rgb(110, 110, 110);
$light-gray : rgb(201, 201, 201);
$shadow-color : rgba(0, 0, 0, 0.6);

/* btn */
$radius : 5px;

/* height of header */
$header-height : 50px;