.attributebutton{
	margin: 8px 30px 8px 0px;
	padding: 3px 0px;
	min-width: 11.25rem;
	min-height: 1.6rem;
	font-size: 1.125rem;
	text-align: center;
	color: white;
	background-color: $sub-color;
	border-radius: $radius;
	.attribute{
		position: absolute;
		width: 100%;
	}
	.delete-button{
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		z-index: 999;
		button{
			min-width: 1.6rem;
			min-height: 1.6rem;
			color: $sub-color;
			&:hover{
				svg{
					font-size: 1.0rem;						
					border-radius: $radius;
					border: 1.4px solid white;
					color: white;
				}
			}
		}
	}
	.add-button{
		button{
			width: 11.25rem;
			text-align: center;
			color: white;
		}
	}
}