.btn{
	border-radius: $radius;
    display: inline-block;
	background-color: white;
	button{
		cursor : pointer;
		&:hover, &:active, &:focus{
			outline: none;
			box-shadow: 0 0 1px $shadow-color;
		}
	}
	&.trans{
		background-color: transparent;
		button{
			&:hover, &:active, &:focus{
				box-shadow: none;
			}
		}
	}
}