.btn{
	border-radius: $radius;
    display: inline-block;
	background-color: white;
	cursor : pointer;
	button{
		cursor : pointer;
		&:hover, &:active, &:focus{
			outline: none;
		}
	}
	&:hover, &:active, &:focus{
		box-shadow: 0 0 2px $shadow-color;
	}
	&.trans{
		background-color: transparent;
		&:hover, &:active, &:focus{
			box-shadow: none;
		}
	}
}