.list{
	width: 380px;
	display: flex;
	flex-direction: column;
	flex: 1;
	.list-container{
		align-content: flex-start;
		margin: 0;
		padding: 1.0rem;
		background-color: #ffffff;
		border-radius: $radius;
		box-shadow: 0 0 5px $shadow-color;
		.list-header{
			width: 100%;
			height: 60px;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #000000;
			text-indent: 1.0em;
			h1{
				margin: 0;
				font-weight: bold;
				font-size: 2.0em;
			}
			Button{
				width: 40px;
				height: 40px;
			}
		}
		.list-main{
			width: 100%;
			align-items: center;
			flex-direction: column;
		}
	}
} 