.pageheader{
	width: 100%;
	border-bottom: 1.5px solid $gray;
	justify-items: flex-start;
	align-items: center;
	.pageheader-main{
		display: flex;
		justify-content: space-between;
		align-content: flex-start;
		h1{
			margin: 0;
			padding: 0;
			font-weight: bold;
			font-size: 3.5em;
		}	
	}
	.pageheader-sub{
		margin: 20px 0px 10px 0px;
		display: flex;
		justify-content: space-between;
		align-content: center;
		p{
			margin: 0;
			padding: 0;
			font-size: 1.3em;
		}
	}
	.pageheader-option{
		display: flex;
		justify-content: flex-end;
		align-content: center;
	}
}