.project-header{
	width: 100%;
	border-bottom: 1.5px solid $gray;
	display: flex;
	flex-direction: column;
	.main-head-con{
		height: $header-height;
		background-color: $main-color;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		.sidebar-btn{
			margin-left: 10px;
			svg{
				color: white;
			}
		}
		.info-con{
			display : flex;
			flex:4;
			height: 70%;
			& div{
				color: white;
			}
			.border-con, .detail{
				display: flex;
				align-items: center;
			}
			.border-con{
				display: flex;
				flex-direction: column;
				height: 100%;
				margin: 0 auto;
				.info{
					display: flex;
					background-color: $sub-color;
					border-radius: $radius;
					align-items: center;
					padding: 0 15px;
					min-width: 400px;
					height: 100%;
					.project-name{
						font-size : $lg-font;
						word-break: keep-all;
						width: auto;
						min-width: 65%;
						margin-right: 10px;
					}
				}
				.sub-menu{
					width: 400px;
					padding: 10px 20px;
					border-radius: $radius;
					position: absolute;
					top: 59px;
					box-shadow: 0 0 5px $shadow-color;
					z-index: 1;
				}
			}
		}
		.member-con{
			flex: 1;
			display: flex;
			justify-content: space-between;
			.all-member{
				display: flex;
			}
			.my-icon{
				margin-right: 10px;
				color: white;
				.member{
					margin: 0;
				}
			}
		}
	}
	.sub-head-con{
		height: 35px;
		background-color: white;
		border-bottom: 1px solid $light-gray;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.btn{
			width: 30px;
			height: 30px;
			background-color: $sub-color;
			button{
				cursor: pointer;
				width: 100%;
				height: 100%;
				padding: 0;
				color: white;
			}
		}
		&>div{
			height: 95%;
			& div{
				height: 100%;
			}
		}
		.search-con{
			display: flex;
			align-items: center;
			margin-left: 10px;
			#search-input{
				margin-right: 5px;
			}
		}
	}
	.plus-menu-con{
		display: flex;
		align-items: center;
		margin-right: 10px;
	}
}