.select{
	flex: 1;
	width: 100%;
	.select-container{
		display: flex;
		width: 100%;
		min-height: 30px;
		align-items: center;
		font-size: inherit;
		&:hover, &:active{
			background-color: $light-gray;
		}
		&:focus{
			outline: none;
		}
		button:disabled{
			text-decoration: none;
		}

		input{
			flex: 1;
			border: none;
			font-size: inherit;
			background-color: inherit;
			&:focus{
				outline: none;
			}
		}
	}
	.dropdown-container{
		width: 100%;
		position: absolute;
		z-index: 1;
		margin-top: 10px;
		.dropdown{
			button{
				width: 100%;
				padding: 10px;
				text-align: start;
				font-size: inherit;
				&:hover, &:active, &:focus{
					background-color: $light-gray;
					outline: none;
				}
			}
		}
	}
}

.tag{
	display: inline;
	margin-right: 10px;
	.label{
		display: inline;
		padding: 0;
		margin: 0;
	}
	.item{
		padding: 3px;
		border-radius: $radius;
		background-color: #ffcd77;
	}
	button{
		padding: 0px 0px 0px 10px;
		vertical-align: middle;
		svg{
			font-size: 1.0rem;
			border-radius: $radius;
			border: 1.4px solid $gray;
		}
	}

}