.selectitem{
	display: inline-flex;
	align-items: center;
	padding: 3px;
	margin-right: 10px;
	border-radius: $radius;
	&.yellow{
		background-color: $bg-yellow;
	}
	&.mint{
		background-color: $bg-mint;
	}
	&.green{
		background: $bg-green;
	}
	&.pink{
		background: $bg-pink;
	}
	&.purple{
		background: $bg-purple;
	}
	&.blue{
		background-color: $bg-blue;
	}
	button{
		max-height: 1.0rem;
		padding: 0;
		margin-left: 5px;
		&:focus{
			outline: none;
		}
	}
	svg{
		border-radius: $radius;
		border: 1.4px solid $gray;
		font-size: 1.0rem;
	}
}