.settingbackground{
	flex: 1;
	background-color: white;
	z-index: 0;
	.settingbackground-header{
		width: 100%;
		min-height: 70;
		max-height: 8%;
		background-color: $main-color;
	}
	.settingbackground-backdrop{
		z-index: 1;
	}
}

.setting{
	min-width: 800px;
	width: 70%;
	.setting-content{
		p{
			margin: 10px 0px;	
			font-size: 1.3em;
    }
    .setting-body{
    }
	}
}
.settingsidebar{
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: $main-color;
	.settingsidebar-header{
		display: flex;
		height: $header-height;
		align-items: center;
		justify-content: space-between;
    border-bottom: 1px solid white;
    margin: 5px 5px;
		.settingsidebar-header-title{
			display: flex;
			align-items: center;
      height: 100%;
      color: white;
			img{
				height: 100%;
			}
		}
	}
}