.sidebar{
	display: flex;
	flex-direction: column;
	width: 400px;
	background-color: $main-color;
    height: 100vh;
	.sidebar-header{
		display: flex;
		height: $header-height;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid white;
		.sidebar-header-title{
			display: flex;
			align-items: center;
			height: 100%;
			img{
				height: 85%;
				margin-right: 5px;
			}
			h1{
				margin: 0;
				color: white;
				font-family: 'KopubBold', sans-serif;
			}
		}
		.sidebar-btn{
			svg{
				color: white;
			}
		}
	}
	.project-con{
		display: flex;
		flex-direction: column;
		color: white;
		overflow-x: hidden;
		overflow-y: scroll;
		width: 100%;
		height: 90%;
		flex: 8;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar{
			display: none; /* Chrome, Safari, Opera*/
		}
		.side-project{
			display: flex;
			flex-direction: column;
			.project-info{
				display: flex;
				justify-content: space-between;
				height: 70px;
				padding: 0 10px;
				&>div{
					display: flex;
					align-items: center;
				}
				.info{
					width: 65%;
					.bg-color{
						margin-right: 10px;
					}
					&>div{
						margin-right: 3px;
						flex-shrink: 0;
					}
				}
				.project-name{
					font-size: 1.4rem;
					flex-shrink: 1!important;
					word-break: break-all;
				}
				.detail{
					width: 20%;
					.private, .book-mark{
						svg{
							font-size: 2rem;
						}
					}
					.book-mark{
						color: rgb(255, 217, 0);
					}
				}
				.arrow{
					width: 15%;
					flex-shrink: 0;
					.btn svg{
						font-size: 2.5rem;
						color: white;
					}
				}
			}
			.sub-menu{
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 90px;
				background-color: $base-color;
				padding: 0 10px;
				color: $main-color;
				&>div{
					display: flex;
					flex-direction: column;
					align-items: center;
					.btn{
						width: 40px;
						height: 40px;
						button{
							width: 100%;
							height: 100%;
						}
						svg{
							color: $main-color;
						}
					}
					p{
						font-size: 0.8rem;
						margin: 5px 0 0;
						font-weight: 600;
					}
				}
			}
		}
	}
	.generate-project{
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 3px solid white;
		&:hover{
			cursor: pointer;
			background-color: $sub-color;
		}
		& button{
			color: white;
			font-size: 1.4rem;
		}
	}
}