/* side */
.detail{
	.private, .book-mark{
		svg{
			font-size: 2rem;
		}
		button{
			color: white;
			padding: 0;
			margin-right: 3px;
		}
	}
	.book-mark button{
		color: $star-color;
	}
}
.arrow{
	flex-shrink: 0;
	.btn svg{
		font-size: 2.5rem;
		color: white;
	}
}

/* sub */
.sub-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	background-color: $base-color;
	padding: 0 10px;
	color: $main-color;
	&>div{
		display: flex;
		flex-direction: column;
		align-items: center;
		.btn{
			width: 40px;
			height: 40px;
			button{
				width: 100%;
				height: 100%;
			}
			svg{
				color: $main-color;
			}
		}
		p{
			font-size: $sm-font;
			margin: 5px 0 0;
			font-weight: 600;
		}
	}
}
.submenu-window-con{
	.select-color-btn{
		border : 2px solid $base-color;
		border-radius: $radius;
		cursor: pointer;
	}
}
.color-picker{
	display: flex;
	.MuiMenu-paper{
		margin-left: 1rem;
	}
	ul{
		display: flex;
	}
	.color-pick{
		cursor: pointer;
		margin: 0 5px;
		border : 2px solid $base-color;
		border-radius: $radius;
		&:first-of-type{
			margin-left: 10px;
		}
		&:last-of-type{
			margin-right: 10px;
		}
		&:active, &:focus{
			outline: none;
		}
	}
}