.sidebar{
	display: flex;
	flex-direction: column;
	width: 400px;
	background-color: $main-color;
    height: 100vh;
	border-right: 3px solid white;
	.sidebar-header{
		display: flex;
		height: $header-height;
		align-items: center;
		justify-content: space-between;
		border-bottom: 3px solid white;
		.sidebar-header-title{
			display: flex;
			align-items: center;
			height: 100%;
			img{
				height: 85%;
				margin-right: 5px;
			}
			h1{
				margin: 0;
				color: white;
				font-family: 'KopubBold', sans-serif;
			}
		}
		.sidebar-btn{
			svg{
				color: white;
			}
		}
	}
	.project-con{
		display: flex;
		flex-direction: column;
		color: white;
		overflow-x: hidden;
		overflow-y: scroll;
		width: 100%;
		height: 90%;
		flex: 8;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar{
			display: none; /* Chrome, Safari, Opera*/
		}
		.side-project{
			display: flex;
			flex-direction: column;
			&.bookmark{
				order: -1;
			}
			.project-info{
				display: flex;
				justify-content: space-between;
				height: 70px;
				padding: 0 10px;
				&>div{
					display: flex;
					align-items: center;
				}
				.info{
					width: 65%;
					cursor: pointer;
					.project-name{
						font-size: $md-font;
						flex-shrink: 1!important;
						word-break: break-all;
					}
					.bg-color{
						margin-right: 10px;
						border : 2px solid white;
						border-radius: $radius;
					}
					&>div{
						margin-right: 3px;
						flex-shrink: 0;
					}
				}
				.detail{
					width: 20%;
					min-width: 70px;
				}
				.arrow{
					width: 15%;
					min-width: 40px;
				}
			}
		}
	}
	.generate-project{
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 3px solid white;
		&:hover{
			cursor: pointer;
			background-color: $sub-color;
		}
		& button{
			color: white;
			font-size: $md-font;
		}
	}
	@keyframes slide-out {
		0%{
		}
		100%{
			width: 400px;
			margin-left: -400px;
		}
	}
	@keyframes slide-in {
		0%{
			margin-left: -400px;
			width: 400px;
		}
		100%{
		}
	}
	&.visible{
		animation: slide-in 0.7s ease-in-out forwards;
	}
	&.unvisible{
		animation: slide-out 0.7s ease-in-out forwards;
	}
}

/*project-modal-con*/
.project-modal-con{
	.pm-btn-con{
		width: auto;
		.pm-private-btn{
			background-color: $base-color;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 35px;
			height: 35px;
			margin-right: 10px;
			&.selected{
				background-color: $sub-color;
			}
			&:hover{
				box-shadow: 0 0 1px $shadow-color;
			}
			button{
				&:hover{
					box-shadow: none;
				}
				color: white;
			}
		}
	}
}

/* use in sideMenu too */
.submenu-window-con {
	.p-contents-con{
		margin-top: 2rem;
		&>div{
			flex-wrap: nowrap;
			margin-bottom: 20px;
		}
	}
	.p-key-con{
		width: 130px;
		text-align: center;
		background-color: $sub-color;
		color: white;
		border-radius: $radius;
		display: flex;
		align-items: center;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 1rem;
		flex-shrink: 0;
	}
	.p-value-con{
		width: 100%;
	}
	.p-btn-con{
		display: flex;
		justify-content: flex-end;
		width: 100%;
		.save-btn{
			padding: 5px 10px;
		}
	}
}