.tags {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	.tag {
		display: flex;
		align-items: center;
		margin-right: 10px;
		svg{
			margin-top: 4px;
			font-size: 1.0rem;
			border-radius: $radius;
			border: 1.4px solid $gray;
		}
	}
}