.windowbackground{
	flex: 1;
	background-color: white;
	.windowbackground-header{
		width: 100%;
		min-height: 70;
		height: 100%;
		max-height: 15%;
		background-color: $main-color;

	}
	.windowbackground-backdrop{
		z-index: auto;
	}
}

.window{
	min-width: 800px;
	width: 100%;
	max-width: 1200px;
	.window-content{
		padding: 30px 40px;
	}
}